<h2 mat-dialog-title>Novo produto</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()" mat-dialog-content class="form">
    <mat-form-field appearance="outline" class="full-width first-input">
        <mat-label>Descrição</mat-label>
        <input matInput formControlName="descricao" />
        <mat-error *ngIf="form.get('descricao')?.hasError('required')">
            A descrição é obrigatória.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Saldo inicial</mat-label>
        <input matInput type="number" formControlName="saldo" />
        <mat-error *ngIf="form.get('saldo')?.hasError('required')">
            O saldo é obrigatório.
        </mat-error>
        <mat-error *ngIf="form.get('saldo')?.hasError('min')">
            O saldo não pode ser negativo.
        </mat-error>
    </mat-form-field>
</form>

<div mat-dialog-actions class="actions">
    <button mat-stroked-button type="button" (click)="onCancel()">
        Cancelar
    </button>

    <button mat-flat-button color="accent" type="button" [disabled]="form.invalid || loading" (click)="onSubmit()">
        {{ loading ? 'Adicionando...' : 'Adicionar' }}
    </button>
</div>