services:
    postgres:
        image: postgres:16
        container_name: pg-teste-korp
        environment:
            POSTGRES_USER: dev
            POSTGRES_PASSWORD: dev
        ports: [ "5432:5432" ]
        volumes:
            - ./initdb:/docker-entrypoint-initdb.d