# services:
#     postgres:
#         image: postgres:16
#         container_name: pg-teste-korp
#         environment:
#             POSTGRES_USER: postgres
#             POSTGRES_PASSWORD: postgres
#         ports: [ "5432:5432" ]
#         volumes:
#             - ./initdb:/docker-entrypoint-initdb.d

version: "3.9"

services:
  # banco de dados de estoque
  estoque-db:
    image: postgres:${POSTGRES_VERSION}
    platform: linux/amd64
    container_name: estoque-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${ESTOQUE_DB}
    ports:
      - "5433:5432"
    volumes:
      - estoque_data:/var/lib/postgresql/data
    networks:
      - backend

  # banco de dados de faturamento
  faturamento-db:
    image: postgres:${POSTGRES_VERSION}
    platform: linux/amd64
    container_name: faturamento-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${FATURAMENTO_DB}
    ports:
      - "5434:5432"
    volumes:
      - faturamento_data:/var/lib/postgresql/data
    networks:
      - backend

  # API de Estoque
  estoque-api:
    build:
      context: ../estoque-api
      dockerfile: Dockerfile
    container_name: estoque-api
    depends_on:
      - estoque-db
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
    ports:
      - "5001:8080"
    networks:
      - backend

  # API de Faturamento
  faturamento-api:
    build:
      context: ../faturamento-api
      dockerfile: Dockerfile
    container_name: faturamento-api
    depends_on:
      - faturamento-db
      - estoque-api
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
    ports:
      - "5002:8080"
    networks:
      - backend

  # Frontend Angular
  frontend:
    platform: linux/amd64
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: korp-frontend
    depends_on:
      - faturamento-api
      - estoque-api
    ports:
      - "4200:80"
    networks:
      - backend

  # Gateway
  gateway:
    build:
      context: ../gateway
      dockerfile: Dockerfile
    container_name: gateway
    depends_on:
      - estoque-api
      - faturamento-api
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
    ports:
      - "5000:8080"
    networks:
      - backend

networks:
  backend:

volumes:
  estoque_data:
  faturamento_data: